.header {
	color: white;
	padding: 10px 0px 10px;
	width: 100%;
	float: left;
	height: 100%;
}
.left-column {
	width: 20%;
	color: white;
	float: left;
	height: 100%;
}
.right-column {
	color: white;
	float: right;
	width: 20%;
	height: 100%;
}
.footer {
	background-color: grey;
	height: 80px;
	left: 0;
	bottom: 0;
	width: 100%;
	position: absolute;
}