
.header {
	color: white;
	text-align: center;
	height: 10%;
	float: left;
	width: 100%;
}
.fullscreen-bg {
	background: url(Head.jpg);
	background-position: center;
	background-size: cover;
    background-image: linear-gradient(to bottom, black 0%, transparent 100%));
	width: 100%;
	height: 100vh;
}
.left-column {
	background: url(BIO SUIT.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	color: white;
	height: 20vh;
}
.right-column {
	color: white;
	float: right;
	width: 20%;
	height: 100%;
}
.footer {
	background: url(footermoon.jpg);
	background-size: cover;
	background-color: rgb(15,15,28);
	color: white;
	height: 200px;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
	margin: 0px;
}
.main {

	background-position: center;
	background-size: cover;
	background-color: rgba(15,15,28,1);
	height: 100%;
	width: 100%;
	min-width: 960px;
	margin: 0px;
}
/*#squaresWaveG{
	position:relative;
	width:420px;
	height:51px;
	margin:auto;
}

.squaresWaveG{
	position:absolute;
	top:0;
	background-color:rgb(26,147,212);
	width:51px;
	height:51px;
	animation-name:bounce_squaresWaveG;
		-o-animation-name:bounce_squaresWaveG;
		-ms-animation-name:bounce_squaresWaveG;
		-webkit-animation-name:bounce_squaresWaveG;
		-moz-animation-name:bounce_squaresWaveG;
	animation-duration:0.645s;
		-o-animation-duration:0.645s;
		-ms-animation-duration:0.645s;
		-webkit-animation-duration:0.645s;
		-moz-animation-duration:0.645s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
}

#squaresWaveG_1{
	left:0;
	animation-delay:0.256s;
		-o-animation-delay:0.256s;
		-ms-animation-delay:0.256s;
		-webkit-animation-delay:0.256s;
		-moz-animation-delay:0.256s;
}

#squaresWaveG_2{
	left:53px;
	animation-delay:0.3225s;
		-o-animation-delay:0.3225s;
		-ms-animation-delay:0.3225s;
		-webkit-animation-delay:0.3225s;
		-moz-animation-delay:0.3225s;
}

#squaresWaveG_3{
	left:105px;
	animation-delay:0.389s;
		-o-animation-delay:0.389s;
		-ms-animation-delay:0.389s;
		-webkit-animation-delay:0.389s;
		-moz-animation-delay:0.389s;
}

#squaresWaveG_4{
	left:158px;
	animation-delay:0.4555s;
		-o-animation-delay:0.4555s;
		-ms-animation-delay:0.4555s;
		-webkit-animation-delay:0.4555s;
		-moz-animation-delay:0.4555s;
}

#squaresWaveG_5{
	left:210px;
	animation-delay:0.522s;
		-o-animation-delay:0.522s;
		-ms-animation-delay:0.522s;
		-webkit-animation-delay:0.522s;
		-moz-animation-delay:0.522s;
}

#squaresWaveG_6{
	left:263px;
	animation-delay:0.5885s;
		-o-animation-delay:0.5885s;
		-ms-animation-delay:0.5885s;
		-webkit-animation-delay:0.5885s;
		-moz-animation-delay:0.5885s;
}

#squaresWaveG_7{
	left:315px;
	animation-delay:0.645s;
		-o-animation-delay:0.645s;
		-ms-animation-delay:0.645s;
		-webkit-animation-delay:0.645s;
		-moz-animation-delay:0.645s;
}

#squaresWaveG_8{
	left:368px;
	animation-delay:0.7115s;
		-o-animation-delay:0.7115s;
		-ms-animation-delay:0.7115s;
		-webkit-animation-delay:0.7115s;
		-moz-animation-delay:0.7115s;
}



@keyframes bounce_squaresWaveG{
	0%{
		background-color:rgb(130,29,130);
	}

	100%{
		background-color:rgb(219,24,24);
	}
}

@-o-keyframes bounce_squaresWaveG{
	0%{
		background-color:rgb(130,29,130);
	}

	100%{
		background-color:rgb(219,24,24);
	}
}

@-ms-keyframes bounce_squaresWaveG{
	0%{
		background-color:rgb(130,29,130);
	}

	100%{
		background-color:rgb(219,24,24);
	}
}

@-webkit-keyframes bounce_squaresWaveG{
	0%{
		background-color:rgb(130,29,130);
	}

	100%{
		background-color:rgb(219,24,24);
	}
}

@-moz-keyframes bounce_squaresWaveG{
	0%{
		background-color:rgb(130,29,130);
	}

	100%{
		background-color:rgb(219,24,24);
	}
}*/
.progress-container {
	left: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}

.progress {
	background-color: rgb(229,233,235);
	height: 0.25em;
	position: relative;
	width: 23em;
}
.progress-bar {
	background-size: 23em 0.25em;
	height: 100%;
	position: relative;
	background-image: linear-gradient(to right, rgb(76,217,100), rgb(0,255,132), rgb(0,255,153), rgba(0,255,89,0.98), rgb(0,255,51), rgb(0,255,102));
		background-image: -o-linear-gradient(to right, rgb(76,217,100), rgb(0,255,132), rgb(0,255,153), rgba(0,255,89,0.98), rgb(0,255,51), rgb(0,255,102));
		background-image: -ms-linear-gradient(to right, rgb(76,217,100), rgb(0,255,132), rgb(0,255,153), rgba(0,255,89,0.98), rgb(0,255,51), rgb(0,255,102));
		background-image: -webkit-linear-gradient(to right, rgb(76,217,100), rgb(0,255,132), rgb(0,255,153), rgba(0,255,89,0.98), rgb(0,255,51), rgb(0,255,102));
		background-image: -moz-linear-gradient(to right, rgb(76,217,100), rgb(0,255,132), rgb(0,255,153), rgba(0,255,89,0.98), rgb(0,255,51), rgb(0,255,102));
	animation: cssload-width 1.5s cubic-bezier(0.45, 0, 1, 1) infinite;
		-o-animation: cssload-width 1.5s cubic-bezier(0.45, 0, 1, 1) infinite;
		-ms-animation: cssload-width 1.5s cubic-bezier(0.45, 0, 1, 1) infinite;
		-webkit-animation: cssload-width 1.5s cubic-bezier(0.45, 0, 1, 1) infinite;
		-moz-animation: cssload-width 1.5s cubic-bezier(0.45, 0, 1, 1) infinite;
}
.progress-shadow {
	height: 4em;
	position: absolute;
	top: 100%;
	width: 100%;
	transform: skew(45deg);
		-o-transform: skew(45deg);
		-ms-transform: skew(45deg);
		-webkit-transform: skew(45deg);
		-moz-transform: skew(45deg);
	transform-origin: 0 0;
		-o-transform-origin: 0 0;
		-ms-transform-origin: 0 0;
		-webkit-transform-origin: 0 0;
		-moz-transform-origin: 0 0;
	background-image: linear-gradient(to bottom, rgba(26,28,66,0), transparent);
		background-image: -o-linear-gradient(to bottom, rgba(26,28,66,0), transparent);
		background-image: -ms-linear-gradient(to bottom, rgba(26,28,66,0), transparent);
		background-image: -webkit-linear-gradient(to bottom, rgba(26,28,66,0), transparent);
		background-image: -moz-linear-gradient(to bottom, rgba(26,28,66,0), transparent);
}



@keyframes cssload-width {
	0%, 100% {
		transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
	}
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@-o-keyframes cssload-width {
	0%, 100% {
		-o-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
	}
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@-ms-keyframes cssload-width {
	0%, 100% {
		-ms-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
	}
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@-webkit-keyframes cssload-width {
	0%, 100% {
		-webkit-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
	}
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}

@-moz-keyframes cssload-width {
	0%, 100% {
		-moz-transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
	}
	0% {
		width: 0;
	}
	100% {
		width: 100%;
	}
}