.header {
	color: white;
	text-align: center;
	width: 100%;
	float: left;
	height: 10%;
}
.left-column {
	width: 20%;
	color: white;
	float: left;
	height: 100%;
}
.right-column {
	color: white;
	float: right;
	width: 20%;
	height: 100%;
}
.footer {
	background-color: rgb(15,15,28);
	color: white;
	height: 80px;
	left: 0;
	bottom: 0;
	width: 100%;
	text-align: center;
}
.main {
	background: url(all_in_one.png);*/
	background-position: center;
	background-size: cover;
	background-color: rgb(15,15,28);
	height: 350vh;
	width: 100%;
	min-width: 960px;
}
.fullscreen-bg {
	background: url(Head.jpg);
	background-position: center;
	background-size: cover;
	width: 100%;
	height: 17%;
}
body {
	width: 100%;
	min-width: 960px;
}